.selected_items {
  width: 100%;
  z-index: 20;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 3rem;
  gap: 1rem;
  background-color: var(--secondary-color);
}
.selected_items__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.buttons_wrapper {
  display: flex;
  gap: 1rem;
}
.button {
  outline: none;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  padding: 1rem 4rem;
  background-color: var(--accent-color);
  transition: background-color ease-in 300ms;
}

@media (hover: hover) and (pointer: fine) {
  .button:hover {
    background-color: #cecb32;
  }
}
